@import "./table.css";
@import "./images.css";

/*Общие стили*/
/* Стили для редактора (ProseMirror) */
.ProseMirror {
  min-height: 350px;
  padding: 1rem;
  outline: none;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.25;
  color: #141414;
}

.ProseMirror:focus {
  outline: none;
}

/* Абзацы */
.ProseMirror p {
  line-height: normal;
  font-size: 16px;
  margin-bottom: 1.2rem;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

/* Заголовки */
.ProseMirror h1 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #111827;
}

.ProseMirror h2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: #111827;
}

.ProseMirror h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  color: #1f2937;
}

.ProseMirror h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
  color: #1f2937;
}

.ProseMirror h5 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  color: #1f2937;
}

.ProseMirror h6 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  color: #1f2937;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Списки */
.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.ProseMirror ul {
  list-style-type: disc;
  margin-bottom: 1.2rem;
  padding-left: 1.1rem;
}

.ProseMirror ol {
  list-style-type: decimal;
  margin-bottom: 0.9rem;
  padding-left: 1.5rem;
}

.ProseMirror li {
  margin-bottom: 0.9rem;
  display: list-item;
}

/* Цитаты */
.ProseMirror blockquote {
  border-left: 4px solid #3b82f6;
  padding-left: 1.5rem;
  font-style: italic;
  color: #4b5563;
  margin: 2rem 0;
}

/* Ссылки */
.ProseMirror a {
  color: #3b82f6;
}

.ProseMirror a:hover {
  color: #2563eb;
  text-decoration: underline;
}

/* Изображения */
.ProseMirror img {
  border-radius: 4px;
}

/* Стили для выбранного изображения */
.ProseMirror-selectednode .editor-image {
  box-shadow: 0 0 0 3px #3b82f6;
}
